extends ../layout

block head
  script(src='/bootstrap-datepicker/js/bootstrap-datepicker.js', type='text/javascript')
  link(rel='stylesheet', href='/bootstrap-datepicker/css/datepicker3.css')

block content
  .row: .col-sm-8.col-sm-offset-2
    .panel.panel-default
      header.panel-heading: b #{meetup.name}
      section.panel-body
        .row
          .col-sm-6.col-md-7.col-lg-8
            h3.top Location
            .well.well-sm #{meetup.location}

            h3 Time
            .row: .col-sm-5: .input-group
              span.form-control.text-center(value='#{meetup.hours}') #{meetup.hours}
              span.input-group-addon :
              span.form-control.text-center(value='#{meetup.minutes}') #{meetup.minutes}
              - var ampm = (meetup.am === true) ? 'PM' : 'PM'
              span.input-group-addon #{ampm}

          .col-sm-6.col-md-5.col-lg-4
            #js-date.disabled(data-date=df(meetup.date, 'mm/dd/yyyy'), data-provide='datepicker'
              data-date-today-highlight='true')

        .row
          .col-sm-12
            h3 Description
            .well.well-sm #{meetup.description}

        if rounds
          table.table
            thead
              tr
                th Round
                th Name
                th Seat
                th Like
                th Unlike
            tbody
              each round in rounds
                tr
                  if round.round === '-'
                    td: z
                    td: z
                    td: z
                    td: z
                    td: z
                  else
                    td #{round.round}
                    td: a(href="/admin/user/#{round.user2.email}") #{round.partner.name}
                    td #{round.seat}
                    td: a.btn.btn-success(href="/profile/like/#{round.partner.email}") Like
                    td: a.btn.btn-danger(href="/profile/unlike/#{round.partner.email}") Unlike

      footer.panel-footer
        .row
          .col-sm-12.text-right
            if registered
              a.btn.btn-danger(href="#{path}/unregister") Unsubscribe!
            else
              a.btn.btn-primary(href="#{path}/register") Sign Me Up

  pre= inspect(meetup)

block scripts
  script
    :coffee
      $ ->
        $('#js-date')
          .datepicker()
          .find('table').addClass('table')

