extends ../layout

block head
  script(src='/bootstrap-datepicker/js/bootstrap-datepicker.js', type='text/javascript')
  link(rel='stylesheet', href='/bootstrap-datepicker/css/datepicker3.css')

block content
  .row: .col-sm-8.col-sm-offset-2
    .panel.panel-default
      header.panel-heading: b #{meetup.name}
      section.panel-body
        .row
          .col-sm-6.col-md-7.col-lg-8
            h3.top Location
            .well.well-sm #{meetup.location}

            h3 Time
            .row: .col-sm-5: .input-group
              span.form-control.text-center(value='#{meetup.hours}') #{meetup.hours}
              span.input-group-addon :
              span.form-control.text-center(value='#{meetup.minutes}') #{meetup.minutes}
              - var ampm = (meetup.am === true) ? 'PM' : 'PM'
              span.input-group-addon #{ampm}

          .col-sm-6.col-md-5.col-lg-4
            #js-date.disabled(data-date=df(meetup.date, 'mm/dd/yyyy'), data-provide='datepicker'
              data-date-today-highlight='true')

        .row
          .col-sm-12
            h3 Description
            .well.well-sm #{meetup.description}

        if rounds.length
          table.table
            thead
              tr
                th Round
                th Name
                th Seat
                th Like
                th Unlike
            tbody
              each round in rounds
                tr
                  td #{round.round}
                  if round.seat === '-'
                    td Break
                    td #{round.seat}
                    td(colspan=2) -
                  else
                    td: a(href="/admin/user/#{round.partner.email}") #{round.partner.name}
                    td #{round.seat}
                    td(colspan=2, data-partner="#{round.partner.email}")
                      each vote in round.votes
                        input(type="radio", name="vote-#{round.round}", value="#{vote.value}", checked=vote.checked)

      if allowed
        footer.panel-footer
          .row
            .col-sm-12.text-right
              if registered
                a.btn.btn-danger(href="#{path}/unregister") Unsubscribe!
              else
                a.btn.btn-primary(href="#{path}/register") Sign Me Up

  pre= inspect(meetup)

block scripts
  script
    :coffee
      $ ->
        $('input[name^=vote]').on 'change', ->
          {parent, val} = $ this
          partner = $(this).parent().data 'partner'
          $.getJSON "/profile/vote/#{partner}/#{$(this).val()}", (err, json) ->
            console.error err if err

