extends ../layout

block content
  table.table.table-striped.table-bordered.table-condensed
    thead
      tr
        th Round
        th User A
        th User 1
        th Score

    tbody
      for date in matches
        tr
          td #{date.round}
          td: a(href="/meetup/#{meetup.name}/schedule/#{date.user1.userid}") #{date.user1.name}
          td: a(href="/meetup/#{meetup.name}/schedule/#{date.user2.userid}") #{date.user2.name}
          td #{date.score}