extends layout

block content
  .row: .col-xs-12
    .jumbotron
      h1 Short Track

  .row: .col-xs-12
    if my && my.admin
      h4: a(href='meetups/add') Add a meetup
    each meetup in meetups
      .media
        .pull-left.mdate
          .mdate-month= df(meetup.date, 'mmmm')
          .mdate-date= df(meetup.date, 'dd')
          .mdate-day= df(meetup.date, 'dddd')

        .media-body
          h4.media-heading
            a(href="/meetup/#{meetup.name}") #{meetup.name} - #{meetup.location}
          | #{meetup.description}

