extends layout

block content
  .row: .col-xs-12
    .panel.panel-default
      .panel-heading HAI DENNY <b>#{user.email}</b>
      .panel-body
        form.js-form.form-horizontal(role='form')

          fieldset
            legend Basic Info
            .form-group
              label.col-sm-2.col-sm-offset-1.control-label(for='form-name') Name
              .col-sm-8
                input#form-name.form-control.js-input(type='text', name='name', value='#{user.profile[0].name}')

            .form-group
              label.col-sm-2.col-sm-offset-1.control-label(for='#form-nickname') Nickname
              .col-sm-8
                input#form-nickname.form-control.js-input(type='text', name='nickname', value='#{user.profile[0].nickname}')

            .form-group
              label.col-sm-2.col-sm-offset-1.control-label(for='#form-age-my') Age
              .col-sm-8
                .row.form-control-static
                  .col-sm-2.text-center: b 18
                  .col-sm-8: div
                    input#form-age-my.form-control(type='text', data-slider-min="18", data-slider-max="100",
                      data-slider-value="#{user.profile[0].age.my}", name='age.my')
                  .col-sm-2.text-center: b 100

            .form-group


  .row: .col-xs-12
    .panel.panel-default
      .panel-heading DEBUG
      .panel-body
        pre #{user.profile[0]}

  script.
    $(function () {
      function postUpdate(name, value, callback) {
        $.post('/profile/update', {name: name, value: value}).done(callback)
      }

      $('#form-age-my')
        .slider()
        .on('slideStop', function (e) {
          var $this = $(this);

          postUpdate($this.attr('name'), $this.val(), function () {
            console.log('success');
          });
        });

      //- $('.js-input').on('focus', function (e) {
      //-   $(this)
      //-     .parent().addClass('input-group').end()
      //-     .siblings('.input-group-btn').removeClass('hide')
      //- });

      //- $('.js-update').on('click', function (e) {
      //-   $this = $(this);
      //-   $input = $this.parent().siblings('input')
      //-   $.post('/profile/update/', {name: $input.attr('name'), value: $input.val()})
      //-     .done(function () {
      //-       $input
      //-         .siblings('.form-control-feedback').removeClass('hide').end()
      //-         .parents('.form-group').addClass('has-success').end()
      //-         .parent().removeClass('input-group').end()
      //-         .siblings('.input-group-btn').addClass('hide')

      //-       setTimeout(function () {
      //-         $input
      //-           .siblings('.form-control-feedback').addClass('hide').end()
      //-           .parents('.form-group').removeClass('has-success');
      //-       }, 3000);
      //-     });
      //- });

      //- $('.js-form').on('submit', function (e) {
      //-   e.preventDefault();
      //- });
    });
